imaplib2
vk-api
vk
requests
icalendar
beautifulsoup4
lxml
pytz
python-dateutil
recurring_ical_events
pandas
openpyxl
xlrd
numpy
matplotlib
schedule
toml
fastapi
uvicorn
pyTelegramBotAPI
html5lib
transliterate
fuzzywuzzy
python-Levenshtein