# !!!!!!!!! THIS SHIT NEEDS TO БЫТЬ СКОПИРОВАНА В /lib/systemd/system/

[Unit]
Description=Основной почтовый дед
After=network-online.target

[Service]
Restart=always
WorkingDirectory=/root/email-py
ExecStart=/usr/bin/env python3 /root/email-py/main_bot.py

[Install]
WantedBy=multi-user.target