# !!!!!!!!! THIS SHIT NEEDS TO БЫТЬ СКОПИРОВАНА В /lib/systemd/system/

[Unit]
Description=GitHub update daemon to DED
After=network-online.target

[Service]
Restart=always
WorkingDirectory=/root/kiberded
ExecStart=/usr/local/bin/node /root/kiberded/update/update_daemon.js

[Install]
WantedBy=multi-user.target