# !!!!!!!!! THIS SHIT NEEDS TO БЫТЬ СКОПИРОВАНА В /lib/systemd/system/

[Unit]
Description=Веб-дед
After=network-online.target

[Service]
Restart=always
WorkingDirectory=/root/kiberded/update
ExecStart=/usr/bin/env python3 /root/kiberded/update/update_daemon_starter.py

[Install]
WantedBy=multi-user.target