# !!!!!!!!! THIS SHIT NEEDS TO БЫТЬ СКОПИРОВАНА В /lib/systemd/system/

[Unit]
Description=Наблюдающий дед, работает через ded-утилиту
After=network-online.target

[Service]
Restart=always
WorkingDirectory=/root/kiberded
ExecStart=/usr/bin/env python3 /root/kiberded/watcher.py

[Install]
WantedBy=multi-user.target